@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    background-color: lightblue;
}

div {
   padding: 50px;
   width: 20%;
   height: 25%;
   box-sizing: border-box; /* causes the element to maintain its actual width */
   margin-right: auto;
   margin-left: auto;
   margin-top: 100px;
   background-color: white;
   border: 15px white;
   border-radius: 5%;
}

img {
    position: relative;
    max-width: 90%;
    max-height: 50%;
    border-radius: 5%;
}

h3 {
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;
}
p {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    text-align: center;
}